body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.saveBtn {
  border-left: 1px solid black;
  border-radius: 15px;
  border-radius: 15px;
  background-color: #06AED5;
  color: white;
  width: 120px;
  font-size: 20px;
}

.deleBtn {
  border-left: 1px solid black;
  border-radius: 15px;
  border-radius: 15px;
  background-color: #d50606;
  color: white;
  width: 120px;
  font-size: 20px;
}

i:hover {
  font-size: 40px;
  transition: all .3s ease-in-out;
}
